.card_slider {
  width: 90%;
  background-color: #ccc;
}
.carousel-wrap {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.owl-prev {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
}

.owl-next {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
